* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAD691;
}

main {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section, 
.header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}

section{ row-gap: 20px; }

.header > div h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.field textarea {
    height: 100px;
    width: 300px;
    padding: 10px 16px;
    outline: none;
    resize: none;
    color: #555;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 14px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.row button {
    margin-top: 5px;
    padding: 8px 16px;
    cursor: pointer;
    border: 1px solid transparent;
    width: 100px;
    border-radius: 4px;
    background-color: #B9375D;
    color: #fff;
    transition: 0.08s ease-in-out;
}

.row button:nth-last-child(1) {
    background-color: #17313E;
}

.row button:active {
    transform: translateY(2px);
    border: 1px solid #222;
    background-color: #777;
    scale: 0.95;
}

.status { display: none; }