/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

/* Search Box */
.search-box {
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 12px;
  padding: 8px;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.2);
}

.search-box input::placeholder {
  color: #444;
}

.search-box button {
  margin-left: 8px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #004b47;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
}

.search-box button:hover {
  background: #062422;
}

.search-box button:active {scale: 0.9;}

/* Profile Card */
.card {
  margin-top: 25px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  transition: all 0.3s ease;
}

.card.hidden {
  overflow: hidden;
  height: 0;
  padding: 0;
  transition: 0.4s ease-in-out;
}

.card.hidden.active {
  height: auto;
  padding: 20px;
}

.profile-header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #062422;
  margin-bottom: 12px;
  object-fit: cover;
}

.profile-header h2 {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.profile-header p {
  font-size: 0.9rem;
  opacity: 0.8;
}

/* Stats Section */
.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 15px;
}

.stats div {
  flex: 1 1 100px;
}

.stats div h3 {
  font-size: 1.3rem;
}

.stats div p {
  font-size: 0.8rem;
  opacity: 0.8;
}


/* Responsive Media Queries */
@media (max-width: 600px) {
  .title {
    font-size: 1.6rem;
  }

  .search-box {
    flex-direction: column;
    padding: 12px;
  }

  .search-box input {
    margin-bottom: 10px;
    font-size: 0.95rem;
  }

  .search-box button {
    width: 100%;
    font-size: 1rem;
  }

  .profile-header img {
    width: 150px;
    height: 150px;
  }

  .profile-header h2 {
    font-size: 1.2rem;
  }

  .stats {
    flex-direction: column;
    align-items: center;
  }

  .stats div {
    width: 100%;
    text-align: center;
    flex: 1;
  }
}
